.widgetID .js-widget-button { 
    position: relative;
    background-color: #cccccc;
    width: 200px;
    padding: 10px 20px;
    border: solid 1px #333;
    cursor: pointer;
}

.widgetID .js-widget-text {

    color:#000000;
 
}

.widgetID .js-widget-info {

    color:#000000;
    display:none;
 
}